doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    block scripts
  body
    block header
      include header.jade
    block content
    block footer
      include footer.jade